body {
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
}

body.lockscroll {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

header {
	position: fixed;
	top:0px;
	z-index: 1;
	width: 100%;
	height: 30pt;
	box-sizing: border-box;
	color: #dd4400;
	background-color: rgba(255,255,255,0.9);
	border-bottom: solid 1pt #ccc;
	box-shadow: 0 6px 6px -6px #777;
}

header form {
	margin: 0pt;
	padding: 0pt;
	line-height:1;
}

header button.material-icons {
	font-size: 14pt;
	height: 18pt;
	min-height: 1.2em;
	min-width: 2em;
	vertical-align: middle;
}

header input[type="text"], header input[type="password"] {
	font-size: 12pt;
	height: 18pt;
	min-height: 1.2em;
	vertical-align: middle;
}

#login {
	width: 220pt;
	margin: 10pt auto;
}

#content {
	width: 100%;
	margin: 30pt auto 0px auto;
	z-index: 0;
}

/* main content */
#main-pane {
	margin: 0px;
	margin-left: 305pt;
	padding-bottom: 200px;
}

/* menu(left) */
#menu-pane {
	position:fixed;
	width: 200pt;
	min-width: 200pt;
	height: calc(100vh - 30pt);
	box-sizing: border-box;
	margin: 0pt;
	padding: 0pt;
	overflow: hidden;
	overflow-y: auto;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 6px #777;
}

#menu-pane ul.simple li {
	margin: 0;
	padding: 0;
	font-size: 11pt;
}

#menu-pane ul.simple li .count {
	font-size: 9pt;
	color:#555;
	padding-left: 2pt;
}

#menu-pane ul.simple li a {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 6pt 3pt;
}

@supports (display: flex) and (position: sticky) {
	#content {
		display: flex;
		margin-top: 0px;
	}
	#main-pane {
		flex-grow: 1;
		margin-left: 0px;
	}
	#menu-pane {
		position: sticky;
		top: 30pt;
		resize: horizontal;
	}
	header {
		position: sticky;
	}
}

#main-pane-header:after {
	content:"";
	display: block;
	clear: both;
}

#main-pane-header h2{
	float: left;
	margin: 4pt 10pt;
}

#main-pane-header button{
	float: right;
	font-size: 14pt;
	padding:2pt;
	min-width: 26pt;
}

#menu-button {
	display: none;
	font-size: 28pt;
	font-weight: bold;
	user-select: none;
	padding: 6pt;
}

.delete-button {
	font-weight: bold;
	min-width: 20pt;
	color: darkred;
}

@media screen and (max-width: 800px), screen and (max-device-width: 450px) { /* and (orientation: portrait) */
	#main-pane {
		margin: 0pt;
	}
	#main-pane>* {
		margin-right:0px;
		margin-left:0px;
		padding-left:0px;
	}

	#menu-button {
		display: inline-block;
	}
	#menu-pane {
		position:fixed;
		visibility: hidden;
		left: -160pt;
	}
	header #query_text {
		width: 64pt;
	}
}

#tags-sort-buttons button {
	background: #ffe;
	border: solid 2pt #e80;
	border-radius: 0pt;
	margin: 0px;
	width: 60pt;
	height: 24pt;
}
	
#tags-sort-buttons button:first-of-type {
	border-radius: 3pt 0pt 0pt 3pt;
}

#tags-sort-buttons button:last-of-type {
	border-radius: 0 3pt 3pt 0;
}

#item-list-loading {
	height: 24pt;
	text-align: center;
}

.running{
	color: green;
}

.stopped{
	color: red;
}

.clickable{
	cursor: pointer;
}

#error {
	background-color: #ffdddd;
	color:red;
	display: none;
	text-align: center;
	padding: 4pt 0;
}

#succeeded {
	background-color: #ddffdd;
	display: none;
	text-align: center;
	padding: 4pt 0;
}

ul.popup {
	transition: opacity 0.3s, visibility 0s ease 0.3s;
	opacity: 0;
	visibility: hidden;

	position:fixed;
	top:auto;
	background-color: white;
	background-color: rgba(250,250,250,0.8);
	border-color: #cccccc;
	border-style: solid;
	border-width: 2px;
	padding: 4px 16px;
	margin: 0px;
	min-width: 8em;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 10;
	box-shadow: 3pt 4pt 6pt 0pt #777;
	color: black;
}
ul.popup li {
	list-style-type: none;
	padding: 1px 1pt;
	line-height:1.3;
	margin: 0px;
}
ul.popup a {
	display:block;
	cursor: pointer;
	color: black;
}
ul.popup * {
	margin: 0px;
	width: 100%;
}


ul.popup a:hover {
	color: #0000ff;
	background-color: #888888;
}

ul.popup button {
	color: black;
	background: none;
	border-style: none;
	text-align: left;
}
ul.popup button:hover {
	color: #0000ff;
	background-color: #888888;
}

@keyframes fadein{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

ul.popup.active {
	transition: opacity 0.1s, visibility 0s ease 0.1s;
	transition-delay: 0s;
	opacity: 1;
	visibility: visible;
}

ul.simple li.update1d {
	background-color: #ffffdd;
	color: #aa0000;
}

ul.simple li.update1w {
	background-color: #ffffdd;
}

ul.simple li.update3w {
	background-color: #fffff8;
}


/* simple list */
ul.simple {
	border-color: #eee;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 0px;
	padding: 0px;
}
ul.simple li {
	border-color: #eee;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	list-style-type: none;
	padding: 3pt 6pt;
	margin: 0px;
}

ul.simple li img {
	width: 60pt;
	max-height: 80pt;
	object-fit: cover;
	vertical-align: middle;
	margin: 1pt 4pt;
}

ul.simple li .openLink {
	margin-left: 10pt;
	height: 20pt;
}

#main-pane ul.simple li {
	font-size: 12pt;
	color: #333;
}

#main-pane ul li a {
	color: #333;
	text-decoration: none;
}


/* menulist */
ul.menubar {
	padding:0;
	margin:0;
}
ul.menubar li {
	display:inline-block;
	vertical-align: middle;
	padding: 3pt 3pt;
	margin:0px;
	font-weight:bold;
	line-height: 20pt;

	border: white solid;
	border-width: 0 0 3pt 0;
}

ul.menubar li.selected{
	border: #dd4400 solid;
	border-width: 0 0 3pt 0;
}

ul.menubar li a{
	text-decoration:none;
	cursor:pointer;
	color:inherit ;
}


/* grid list */
ul.grid {
    display: grid;
    grid-auto-rows: 120pt;
	grid-template-columns: repeat(auto-fill, 112pt);
	row-gap: 4pt;
	justify-content: space-around;
	margin: 0px 4pt;
	padding: 0px;
}

ul.grid li {
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-radius: 4pt;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	line-height: 1.1;
	overflow: hidden;
	font-size: 9pt;
	max-height: 100%;
}

ul.grid li img {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

ul.grid li .openLink {
	display: block;
	word-break: break-all;
}

ul.grid li .date {
	font-family: sans-serif;
	color: #888;
}


.toggle {
	display:inline-block;
	min-width: 20pt;
	min-height: 20pt;
}
.toggle input {
	display:none;
}
.toggle input:not(:checked) ~ .true {
	display: none;
}
.toggle input:checked ~ .false {
	display: none;
}

.onoff {
	display:inline-block;
	min-width: 20pt;
	min-height: 20pt;
}
.onoff input {
	display:none;
}
.onoff input:not(:checked) ~ * {
	color: gray;
}
.onoff input:checked ~ * {
	color: white;
}

div.simple-box {
	box-sizing: border-box;
	border: solid 1pt #ccc;
	border-radius: 4pt;
	max-width: 540pt;
	padding: 10pt 10pt;
	margin: 5pt auto;
	box-shadow: 0 6px 6px -6px #777;
}

#volume-info-box h2 {
	margin: 0pt;
	padding: 0pt;
}

#volume-info-edit {
	text-align: center;
}

#volumes li {
	background-color: #ffa;
}

#volumes li.connected {
	background-color: #fff;
}

/* set from js */
.override_menu_visible {
	visibility: visible !important;
	left: 0pt !important;
	transition: left 0.2s ease-out;
}


.task a:link, .task a:visited, .task a:hover, .task a:active, .task a:focus {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.task a:hover {
	background-color: #ffe;
}

.log .task-date {
	font-size: 0.8em;
	color: darkgray;
}
.log .task-time {
	font-size: 0.8em;
	margin-right: 8pt;
}
.log span.status {
	padding: 0 5pt;
	margin: 0 8pt;
}
.log span.status-queued {
	background-color: #aaa;
}
.log span.status-success, .log span.status-finished {
	background-color: green;
	color: white;
}
.log span.status-failed {
	background-color: red;
}
.log span.status-canceled {
	background-color: yellow;
}
.log span.status-running {
	color: green;
}

#task-log {
	background-color: black;
	color: white;
	max-height: 500pt;
	max-width: 100%;
	overflow-y: scroll;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

#task-info .task-errormessage {
	color:red;
}

#schedule-add-form {
	max-width: 400pt;
	margin: 0 auto;
	border: 2px solid #bbb;
	border-radius: 5px;
}

#schedule-list button.material-icons {
	font-size: 12pt;
	padding: 0;
	min-width: 20pt;
	min-height: 20pt;
}
#schedule-list .task-id {
	font-weight: bold;
}
#schedule-list .task-schedule {
	margin: 0 8pt;
	padding: 0 4pt;
	border-radius: 4px;
	background-color: #eee;
}
